extends _template
 
block variables
    - var title= 'Index page'

block content
    include ./pages/index/_sec-action
    include ./pages/index/_sec-squares
    include ./pages/index/_sec-sertificats
    include ./pages/index/_sec-whywe
    include ./pages/index/_sec-smi
    include ./pages/index/_sec-clients
    include ./pages/index/_sec-offer
    include ./pages/index/_sec-pay
    include ./pages/index/_sec-whatwedo
    include ./pages/index/_sec-ofshor
    include ./pages/index/_sec-actuality
    include ./pages/index/_sec-partners
    include ./pages/index/_sec-webest
    include ./common/_popupform
    
    