extends _template
 
block variables
    - var title= 'Index page'

block content
    include ./common/_sec-squares
    include ./common/_sec-sertificats
    include ./common/_sec-whywe
    include ./common/_sec-smi
    include ./common/_sec-clients
    include ./common/_sec-offer
    include ./common/_sec-pay
    include ./common/_sec-whatwedo
    include ./common/_sec-ofshor
    include ./common/_sec-actuality
    include ./common/_sec-partners
    
    