extends ../../_template
 
block variables
    - var title= 'Вид на жительство в Греции'

block content
    section.section.company.residence-country
        .container
            h2.heading__second.text--left Вид на жительство в Греции
            ul.breadcrumbs 
                li.breadcrumbs__item
                    a(href="/index.html").breadcrumbs__link Главная
                li.breadcrumbs__item
                    a(hreg="/pages/residence.permit.html").breadcrumbs__link ВНЖ
                li.breadcrumbs__item
                    span.breadcrumbs__link ВНЖ в Греции
            ol.list
                li.list__item
                    a(href="#simple").list__link Простое получение ВНЖ с компанией ЦКС
                li.list__item
                    a(href="#posibilites").list__link Возможности для получения статуса
                li.list__item
                    a(href="#residence").list__link Резиденство для владельцев недвижимости
                li.list__item
                    a(href="#superresidence").list__link Вид дя финансово-независимых претендентов
    section.section.section-text
        .container
            .wrap__desc
                p  
                    | В последние годы правительство Греции облегчает иммиграционные процедуры и условия. Например, в 2016 году после принятых годом раньше поправок к законодательству упростился процесс получения гражданства для рожденных в стране детей иностранцев. Оно предоставляется сразу же, если хотя бы один родитель прожил законно на территории Греции более пяти лет. Кроме этого, уменьшены требования к финансово-независимым лицам.
                p
                    | Из-за кризисной ситуации внутри государства власти Греции вынуждены стимулировать внешних инвесторов. Для россиян это означает расширение возможностей для оформления ВНЖ. Статус, подтвержденный картой ID, открывает множество перспектив:

                ul.list--dot
                    li 
                        | возможность посещать страны ЕС без виз;
                    li 
                        | право на обучение, получение социальных гарантий;
                    li 
                        | открытие пути к оформлению гражданства и так далее. 

                h2#simple.heading__second Простое получение ВНЖ с компанией «ЦКС»
                
                p
                    | Иммиграционные службы страны известны своей требовательностью к составу и оформлению документации, а также многоступенчатым процессом оформления вида. Нужно отметить, что он существенно разнится в зависимости от типа ВНЖ в Греции.
                p
                    | Разобраться в нюансах норм и не подвергнуть себя опасности получить отказ помогут специалисты из «ЦКС». Наша консалтинговая фирма много лет успешно занимается оформлением резидентства для разных категорий граждан ‒ бизнесменов, финансово-независимых претендентов, родственников легализованных в Греции лиц. Мы отслеживаем мельчайшие новации в правовых нормах, чтобы изыскать новые возможности для упрощения эмиграции.
                p
                    | Опытные специалисты «ЦКС» помогут:
                
                ul.list--dot
                    li 
                        | собрать, апостилировать, заверить все нужные документы (копии загранпаспорта, справки о медицинском состоянии и несудимости, подтверждение доходов);
                    li 
                        | подобрать, проверить и приобрести/арендовать недвижимость;
                    li 
                        | пройти этап посещения визового офицера (с поддержкой нашего сотрудника);
                    li 
                        | открыть банковский счет или зарегистрировать бизнес;
                    li 
                        | продлить ВНЖ или получить его родственникам владельца.
                p
                    | Не нужно самостоятельно задумываться, как получить вид на жительство в Греции ‒ эксперты «ЦКС» максимально облегчат задачу своим заказчикам.

                h2#posibilites.heading__second Возможности для получения статуса
                
                p
                    | На сегодняшний день наиболее распространены следующие способы получения резидентства:
                
                ul.list--dot
                    li 
                        | официальное трудоустройство по контракту (в том числе для работы в сельскохозяйственном секторе экономики) ‒ нужно заметить, что в связи с внутринациональными сложностями способ стал труднодоступен, так как власти заинтересованы в предоставлении рабочих мест гражданам государства;
                    li 
                        | воссоединение с членами семьи, уже проживающими в стране, или заключение брака с ее гражданами ‒ эти претенденты вынесены в отдельную категорию;
                    li 
                        | обучение в качестве студента аккредитованного ВУЗа;
                    li 
                        | предпринимательство и инвестирование в экономику страны: отказов при оформлении данных ВНЖ в Греции практически не возникает;
                    li 
                        | «золотые визы» ‒ покупка недвижимости от 250 000 евро;
                    li 
                        | финансовая независимость: вид предоставляют лицам, способным доказать свою «необременительность» для страны (включая всех членов семьи) ‒ это выражается в подтверждении ежемесячного дохода от 2000 евро и отсутствии права на работу по данному ВНЖ.
                p
                    | Категории В и Г (особые и исключительные основания), как правило, рассматриваются редко и в индивидуальном порядке. Для каждого вида существуют отдельные требования к документации и визам. Перед тем, как получить ВНЖ в Греции, необходимо оформлять въездные разрешения ‒ визу D. От процедуры, однако, избавлены владельцы недвижимости стоимостью от 250 000 евро, они могут оформлять и С-тип. Инвесторам, вкладывающим от 300 000 евро, предоставляется двухгодичный вид (это решают Министерство экономики и МИД), а обладателям «золотой визы» ‒ пятилетний. Остальные категории, как правило, при первом обращении получают разрешение на год.
                p
                    | Предпринимателям, желающим вести дела или создать предприятие на территории Греции, кроме стандартного пакета документов понадобится предоставить бизнес-план ‒ обоснование перспектив. Также нужно зарегистрировать фирму в местных инстанциях, предоставить властям выписку со счета с минимум 60 000 евро для частной компании и 20 000 для аналога ЗАО. Но, несмотря на заинтересованность государства в притоке бизнеса из-за рубежа, наиболее часто оформляют вид на жительство в Греции для состоятельных претендентов ‒ покупателей недвижимости или лиц, независимых финансово.
                
                h2#residence.heading__second Резидентство для владельцев недвижимости

                p
                    | Греция за последние годы существенно повысила свою привлекательность для нерезидентов, запустив программу «золотых виз». В 2016 году она упростилась еще больше, так как годом ранее были приняты корректировки закона, по которым пятилетний ВНЖ «по недвижимости» будет учитываться в период, необходимый для предоставления гражданства. Также владельцам вида можно воссоединять не только своих детей и супругов, но и престарелых родителей ‒ все они получат вид без права на трудоустройство, как и сам резидент.
                p
                    | Учитывая разнообразие предложений, их качество и достаточно невысокую стоимость (приобретать можно несколько объектов, «добирая» их до нужной суммы), способ сохраняет высокую привлекательность. Налоги на имущества удерживаются на уровне 3-5%, а выдается ID карта достаточно быстро. Среди других особенностей ВНЖ нужно назвать:
                    
                ul.list--dot
                    li 
                        | назначение у приобретаемых объектов может быть жилым или коммерческим;
                    li 
                        | разрешено покупать земельные участки;
                    li 
                        | оплачивать объекты должно одно лицо (или принадлежащая ему компания), использовать для этого заемные средства нельзя;
                    li 
                        | стоимость определяется до учета налоговых обременений;
                    li 
                        | при подаче прошения на резидентство нужно предоставлять договоры о купле/продаже, выписку из госреестра, а также справку о погашении суммы в полном объеме от нотариуса, оформлявшего сделку;
                    li 
                        | имея данный вид на жительство в Греции, можно подать прошение о гражданстве уже через 7 лет;
                    li 
                        | купленное жилье можно сдавать в аренду без угрозы потерять статус и так далее.

                p
                    | Кроме покупателей недвижимости, данный вид могут получить и долгосрочные (не меньше, чем на 10 лет) ее арендаторы. Оформлять все виды сделок нужно только лично, дистанционно делать это не разрешается. Если недвижимая единица стоит менее 100 000 евро, она не подлежит погодовому налогообложению, и уплатить взносы необходимо будет лишь при покупке. Так повышается привлекательность приобретения нескольких небольших объектов одновременно. При покупке будет нужно:

                ul.list--dot
                    li 
                        | предъявить удостоверения личности, приехав в страну по временной визе;
                    li 
                        | уплатить налоги (нотариус проверит это при совершении сделки);
                    li 
                        | получить справку из реестра (через 15 дней после заключения договора), которая будет основанием для вида.

                h2#superresidence.heading__second Вид для финансово-независимых претендентов
                
                p
                    | Изменения, которые стали действовать для россиян, имеющих достаточное материальное обеспечение, повышают интерес и к этому ВНЖ. Была отменена норма, предписывающая находиться внутри страны 6 месяцев подряд. Поэтому граждане, имеющие достаточный доход, получаемый вне Греции, могут оформить удобный и доступный ВНЖ.
                
                ul.list--dot
                    li 
                        | Резиденты, как и члены их семей, воссоединяющиеся с владельцами вида, не имеют права работать внутри страны. Также к недостаткам относится необходимость ежегодно продлевать документы, подтверждая сохранения финобеспечения. В остальном это практичный механизм, среди особенностей которого нужно назвать:
                    li 
                        | финансовые требования ‒ 24 000 евро в год на владельца вида, плюс дополнительно 20% на супругов и 15% ‒ на каждого несовершеннолетнего ребенка;
                    li 
                        | источники доходов ‒ любые легальные и документально подтвержденные: пенсии, от аренды жилья и так далее;
                    li 
                        | условия ‒ наличие жилья, частной медстраховки, внимательности при продлении статуса.