-
    var menu = {
        "Главная" : "/index.html",
        "Офшорные компании" : "/pages/company-ofshor.html",
        "Европейские компании" : "#",
        "Азиатские компании" : "#",
        "Компании в США" : "#",
        "Банковские счета" : "#",
        "ВНЖ" : "#",
        "Фонды и трасты" : "#",
        "Получение лицензии" : "#",
        "Регистрация яхт и судов" : "#",
        "Регистрация  и судов" : "#",
        "Регист яхт и судов" : "#"
    }

.aside
    a.nav__trigger.no-animation(href="#")
        span
        span
        span
    .logo-wrap
        img(src="/assets/img/main-logo.png")
    nav.nav.nav-main
        .nav-slimscroll
            ul.nav-main__list
                each href, title in menu
                    li.nav-main__item
                        a(href= href).nav-main__link= title
                        
                .contacts-link
                    //- a(href="#").icon-block.header__skype
                    //-     i(class="fa fa-skype fa--style" aria-hidden="true")
                    //-     span prifinance
                    a(href="mailto:info@prifinance.com").icon-block.header__mail
                        i(class="fa fa-envelope fa--style" aria-hidden="true" )
                        span info@cks35.ru