footer.footer
    .container
        .copyright. 
            © 2017, «ЦКC»
        p.text__descr.
            Комплексное сопровождение любого бизнеса – от открытия оффшорной компании до оказания полного перечня консалтинговых, аудиторских и юридических услуг. Высокий уровень профессионализма и ежедневная работа над расширением возможностей позволяют клиентам уверенно чувствовать себя даже в кризисных и нетипичных ситуациях. Ваше благополучие всегда в компетенции «Прифинанс»!

        h3.heading__sub Связь с нами:
        ul.list
            li.list__item
                a.link__adress Punane 56 13619 Tallinn Estonia
                a(href="tel:+372 6 980 111").link__phone.text--center  Тел. +372 6 980 111
            li.list__item
                a.link__adress Punane 56 13619 Tallinn Estonia
                a(href="tel:+372 6 980 111").link__phone.text--center  Тел. +372 6 980 111
            li.list__item
                a.link__adress Punane 56 13619 Tallinn Estonia
                a(href="tel:+372 6 980 111").link__phone.text--center Тел. +372 6 980 111

                
