header.header
    .header__top
        .header__company-desc
            span Регистрация
            span и обслуживание
            span компаний с 1995 года
        .header__contacts
            .header__contacts-phone
                a(href="tel:#").icon-block.header__country-phone
                    i(class="icon-flag flag-ru fa--style" aria-hidden="true")
                    span +7 921 654 32 10
                a(href="tel:#").icon-block.header__country-phone
                    i(class="icon-flag flag-ru fa--style" aria-hidden="true")
                    span +7 499 654 32 10
                
        .header__about
            span.small--text Бесплатный номер 24/7
            a(href="tel:8 800 200 99 67" class="header__about-phone") 8 800 200 99 67
            .btn__wrap
                a.btn
                    span Заказать звонок