header.header
    .logo-wrap
        img(src="./assets/img/main-logo.png")
    .header__right
        .header__contacts
            .header__contacts-link
                a(href="#").icon-block.header__skype
                    i(class="fa fa-skype fa--style" aria-hidden="true")
                    span prifinance
                a(href="mailto:info@prifinance.com").icon-block.header__mail
                    i(class="fa fa-envelope fa--style" aria-hidden="true" )
                    span info@prifinance.com
            .header__contacts-phone
                a(href="tel:#").icon-block.header__country-phone
                    i(class="fa fa-flag fa--style" aria-hidden="true")
                    span 8 987 654 32 10
                a(href="tel:#").icon-block.header__country-phone
                    i(class="fa fa-flag fa--style" aria-hidden="true")
                    span 8 987 654 32 10
                a(href="tel:#").icon-block.header__country-phone
                    i(class="fa fa-flag fa--style" aria-hidden="true")
                    span 8 987 654 32 10
                a(href="tel:#").icon-block.header__country-phone
                    i(class="fa fa-flag fa--style" aria-hidden="true")
                    span 8 987 654 32 10
                a(href="tel:#").icon-block.header__country-phone
                    i(class="fa fa-flag fa--style" aria-hidden="true")
                    span 8 987 654 32 10
                a(href="tel:#").icon-block.header__country-phone
                    i(class="fa fa-flag fa--style" aria-hidden="true")
                    span 8 987 654 32 10
                
        .header__about
            .header__about-company
                a(href="#").icon-block
                    i(class="fa fa-info fa--style" aria-hidden="true")
                    span О компании
                a(href="tel:#").icon-block
                    i(class="fa fa-paper-plane fa--style" aria-hidden="true")
                    span Контакты
            .header__about-call
                .about-call
                    a(href="tel:#").icon-block
                        i(class="fa fa-phone fa--style" aria-hidden="true")
                        span Бесплатный номер: 8 854 455 45 45
                    span.text--center Круглосуточно и без выходных
                .btn__wrap
                    a.btn
                        i(class="fa fa-phone fa--style" aria-hidden="true")
                        span Заказать звонок

