section.section.ofshor
    .container
        .heading__wrap
            h2.heading__second Работа с офшорами
        .wrap__desc
            p 
                | Вести успешный бизнес, ограничиваясь внутренним рынком города, области и даже страны не всегда целесообразно. В условиях внутренней нестабильности, глобализации и развития международных отношений предприниматели стремятся расширить сферы влияния, диверсифицировать риски и оптимизировать расходы; обеспечить себе гарантии сохранности капитала и конфиденциальность. 
            p 
                | Все это возможно получить, распространив деятельность на оффшоры. Это страны или отдельные территории с лояльными законами для бизнесменов-нерезидентов.