-
  var pay = {
      '1' : './assets/img/_sec_pay/pay-1.png',
      '2' : './assets/img/_sec_pay/pay-2.png',
      '3' : './assets/img/_sec_pay/pay-3.png',
      '4' : './assets/img/_sec_pay/pay-4.png',
      '5' : './assets/img/_sec_pay/pay-5.png',
      '6' : './assets/img/_sec_pay/pay-6.png',
      '7' : './assets/img/_sec_pay/pay-7.png',
      '8' : './assets/img/_sec_pay/pay-8.png',
      '9' : './assets/img/_sec_pay/pay-9.png',
      '10' : './assets/img/_sec_pay/pay-10.png'
  }

section.section.pay
    .container
        h2.heading__second  Способы оплаты
        ul.list
          each src, href in pay
            li.list__item
                a(href =href).list__link
                    img(src= src)

section.section.regions
    .container
        h2.heading__second  Регистрация фирм в различных странах
        .wrap__desc
            p
              | «Прифинанс» — авторитетный участник рынка корпоративных услуг. Это компания, оказывающая услуги по регистрации фирм, защите активов, международному налоговому планированию, регистрации/продаже действующих зарубежных предприятий, включая офшоры, зарегистрированные офисы и агентов, директоров и номинальных акционеров. Кроме того, мы оказываем услуги по ежегодной поддержке компаний, открытию банковских счетов и легализации документов. 
            p
              | В нашем коллективе — профессиональные юристы с колоссальным опытом в области комплексного сопровождения любого бизнеса. Мы ежедневно работаем над тем, чтобы расширить спектр предоставляемых услуг и создать предпосылки для стабильного и успешного развития компаний заказчиков.
