section.sertificats
    h2.heading__second Нас рекомендуют
    .sertificats__gallery.row
        a(href="./assets/img/_sec_sertificats/sert-1.png")
            img(src="./assets/img/_sec_sertificats/sert-1.png")
        a(href="./assets/img/_sec_sertificats/sert-2.png")
            img(src="./assets/img/_sec_sertificats/sert-2.png")
        a(href="./assets/img/_sec_sertificats/sert-3.png")
            img(src="./assets/img/_sec_sertificats/sert-3.png")