.header__bottom {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 50px 20px;
    background: url('../img/_sections_bg/header-bottom_bg.png') no-repeat center;
    background-size: cover;
    .heading__second {
        text-align: center;
        margin-bottom: 0;
    }
    @include phone() {
        padding: 30px 0;
    }
}

.header__action-wrap {
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    

    
    .action__date {
        color: $text-action;
        font-size: 4.8rem;
        margin-bottom: 1rem;
    }
    .action__bonus {
        display: block;
        margin-bottom: 2rem;
    }
} 

.header__video-wrap {
    height: auto;
    width: 100%;
    max-width: 750px;
    margin: 0 auto; 
    margin-bottom: 50px;

    @include phone() {
        margin-bottom: 30px;
    }

    .video--header {
        background-color: #000;
        width: 100%;
        height: 100%;
    }
}
