.ofshor {
    background: $white url('../img/_sections_bg/ofshor_bg.png') no-repeat center -100px;
    background-size: 100%;
    padding-top: 140px;

    .container {
        max-width: 700px;
    }
}