.squares__list {
    position: relative;  
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.squares__item {
    overflow: hidden;
    width: 25%;
    height: $square-size-4;
    background: $aside-bg url('../img/_sec-squares/beliz.png') no-repeat center;
    background-size: cover;

    @include xl() {
        width: 33.33333%;
        height: $square-size-3;
    }
    @include desktop() {
        height: $square-size-dt;
    }
    @include laptop() {
        width: 50%;
        height: $square-size-lp;
    }
    @include phone() {
        width: 100%;
        height: 70vh;

        // &:active,
        // &:focus {
        //     height: 70vh;
        // }
    }
}
.squares__link {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    color: $white;

    & > span {
        font-family: $font-bold;
        line-height: 24px;
        padding: 20px;
        text-align: center;
        margin: auto;
    }


    &:hover {
        .square__hov-desc {
            opacity: 1;
            transform: scale(1);  
        }
    }

    @include phone() {
        &:hover {
            .square__hov-desc {
                opacity: 0;
                transform: none;  
            }
        }
        &:active,
        &:focus {
            .square__hov-desc {
                opacity: 1;
                transform: scale(1);  
            }
        }
    }
}

.square__hov-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    background-color: $white;
    opacity: 0;
    color: $text-color_main;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    padding: 10px;
    transform: scale(0);  
    transition: 0.6s transform, 0.6s opacity;  

    .coast.coast--bg {
        position: relative;  
        height: 40%;
        min-height: 70px;
        width: 100%;
        background: url('../img/_sec-squares/sertificats/sertificat.png') no-repeat center;
        background-size: contain;
        span {
            color: $text-color-main;
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    
}
.coast__desc {
    span {
        font-size: 1.4rem;
        text-align: center;
        display: block;
    }
}
.coast__btn {
    border: 3px solid $black;
    text-align: center;
    padding: 10px;  
    font-size: 1.4rem;
    cursor: pointer;
}

@for $i from 1 through 16 {
    .squares__list {
        .squares__item:nth-child(#{$i}) {
            background-image: url('../img/_sec-squares/bg-#{$i}.png')
        }
    }
}
