.partners {
    padding-bottom: 70px; 
    .heading__second {
        margin-bottom: 30px; 
    }

    .list__item {
        display:flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        text-align: center; 
        margin: 0 10px 20px; 
    }

    img {
        min-width: 150px;
        height: auto;
    }
    .list__link {
        display: block;
        border: 1px solid transparent;
        transition: 0.3s border;
        padding: 20px 0;

        &:hover {
            border-color: rgba($black, 0.4);
        }
    }
}