.whywe {
    position: relative;
    width: 100%;
    background: $white url('../img/_sec-whywe/whywe_bg.png') no-repeat center;
    background-size: cover;
    padding: 130px 0 130px;
    color: $white;

    .heading__second {
        margin-bottom: 50px;
    }

    .list__item {
        flex: 1;
        flex-basis: 100px;
        text-align: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .icon__wrap {
        display: flex;
        width: 81px;
        height: 81px;
        margin: auto;
        border: 3px solid $white;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    .fa {
        margin: auto;
        font-size: 4.8rem;
        color: white;
      
    } 
    .item-desc {
        font-size: 1.8rem;
    }
}