extends ../../_template
 
block variables
    - var title= 'Лицензия Forex на Кипре'

block content
    section.section.company
        .container
            h2.heading__second.text--left Лицензия Forex и бинарных опционов на Кипре
            ul.breadcrumbs 
                li.breadcrumbs__item
                    a(href="/index.html").breadcrumbs__link Главная
                li.breadcrumbs__item
                    a(href="/pages/forex.html").breadcrumbs__link Форекс
                li.breadcrumbs__item
                    span.breadcrumbs__link Лицензия Forex на Кипре
    section.section.section-text
        .container
            .wrap__desc
                p
                    | Для ведения Forex-бизнеса (в масштабах мирового валютного рынка) или бизнеса бинарных опционов на Кипре, необходимо выступать в роли инвесткомпании (CIF). По вопросам ее создания и основных требований заказчика проконсультируют опытные специалисты «Прифинанс». Если выбирать для работы рынок Форекс, Кипр подойдет оптимально.

                p
                    | Ниже приведен список услуг, которые могут предоставлять организации со статусом CIF, согласно Закону 144(I). Он упоминается в списке актов, регулирующих сервисы и операции инвестиционного характера. Фирмы попадают под надзор со стороны Комиссии Кипра, уполномоченной в вопросах ценных бумаг и валютного рынка (CySEC).

                h2.heading__second В числе основных услуг:

                ul.list--dot
                    li 
                        | Прием и пересылка поручений по одному или нескольким фининструментам.
                    li 
                        | Выполнение клиентских поручений.
                    li 
                        | Операции со счетом.
                    li 
                        | Управление портфелем.
                    li 
                        | Консультации по вопросам инвестиционного характера.
                    li 
                        | Предоставление гарантий.
                    li 
                        | Размещение фининструментов под твердое обязательство или без такового.
                    li 
                        | Осуществление операционной деятельности

                p
                    | В дополнение к этому перечню с целью реализации планов фирмы по присутствию на рынке Форекс Кипр дает возможность выбрать дополнительно одну (или несколько) сопутствующих услуг:

                ul.list--dot
                    li 
                        | Управление финансовыми инструментами от имени и в интересах клиента.
                    li 
                        | Хранение ценностей в банковских учреждениях (включая управление залогом).
                    li 
                        | Предоставление займов инвесторам для проведения сделок, в которых кредитор выступает участником.
                    li 
                        | Консультации по различным вопросам, будь то структура капитала, покупка обязательств или li 
                        | производственная стратегия.
                    li 
                        | Работа на валютном рынке, связанная с инвестициями.
                    li 
                        | Финанализ сделок и капиталовложений с предоставлением рекомендаций.
                    li 
                        | Услуги, связанные с клиентскими обязательствами, и так далее.

                p
                    | Компании оперируют различными финансовыми инструментами. В числе наиболее востребованных:

                ul.list--dot
                    li 
                        | ценные бумаги в обращении;
                    li 
                        | фьючерсы и опционы;
                    li 
                        | фининструменты денежного рынка;
                    li 
                        | партии ЦБ по обязательствам уставных фондов;
                    li 
                        | форварды и другие производные инструменты, связанные с финансовыми индексами, процентными ставками, денежными расчетами;
                    li 
                        | контракты по товарно-сырьевым ресурсами, расчеты по которым осуществляются в наличной форме или в форме физического расчета                    при работе на многосторонних торговых площадках;
                    li 
                        | производные ЦБ и форварды по контрактам с товарно-сырьевыми ресурсами, которые могут совершаться в форме физических расчетов,                   если иное не значится в пункте 6 выше;
                    li 
                        | финансовые расчетные контракты;
                    li 
                        | опционы, фьючерсы, форвардные контракты по процентным ставкам и любые другие производные инструменты в связи с климатическими параметрами, фрахтовыми ставками, квотами на выбросы, проводящиеся за наличный расчёт и так далее.
                


