.aside {
    position: relative;
    z-index: 100;
    min-width: 250px;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($aside-bg, 1);
    font-size: 1.5rem;
    flex: 2;
    @include desktop() {
        width: 100%;
        height: 70px;

        .logo-wrap {
            position: absolute;
            top: 0;
            left: unset;
            right: 0;
            max-height: 80px;
            max-width: 150px;
            width: 100%;
            text-align: center;
            padding: 8px;
            // padding-right: 0;
            img {
                height: 50px;
                width: auto;
            }
        }
    }

    .nav {
        display: block;
        @include desktop() {
            display: none;
            position: absolute;
            z-index: 10;
            top: 70px;
            left: 0;
            background-color: $aside-bg;
        }
        @include phone() {
            width: 100%;
        }
    }

    a {
        color: $white;
    }

    .logo-wrap {
        position: absolute;
        top: 0;
        left: 0;
        max-height: 100px;
        max-width: 250px;
        width: 100%;
        text-align: center;
        padding: 10px;
        img {
            height: 80px;
            width: auto;
        }
    }

    .contacts-link {
        display: flex;
        flex-direction: column;
        padding: 20px;

        span {
            line-height: 20px;
            font-size: 1.6rem; 
        }
        .header__skype {
            margin-bottom: 1rem;
        }
    }
}

.nav-main__list {
    display: flex;
    width: 100%;
    flex-direction: column;

    li:first-child {
        border-top: 1px solid $aside-border;
    }
}

.nav-main__item { 
    border-bottom: 1px solid $aside-border;
    &:hover a {
        background-color: $aside-bg-hov;
    }
}

.nav-main__link {
    display: block;
    padding: 12px 20px;
    background-color: inherit;
    transition: 0.3s background-color;
}

.nav-slimscroll {
    margin-top: 100px;

    @include desktop() {
        margin-top: 0;
    }
}

.nav-main__item-sub {
    position: relative;

    &.active {
        background-color: $aside-bg-hov;

        .nav-main__icon-list {
            transform: rotate(180deg);
        }
    }
}

.nav-main__icon-list {
    position: absolute;
    right: 15px;
    top: 3px;
    font-size: 2.5rem;
    color: rgba(#fff, 0.3);
    transition: 0.5s transform;
    transform-origin: 50% 65%;
}

.nav-main__sub-list {
    display: none;

}

// Trigger button
@keyframes navBtnOpenTop {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(15px) rotate(0deg);
    }

    100% {
        transform: translateY(15px) rotate(45deg);
    }
}
@keyframes navBtnCloseTop {
    0% {
        transform: translateY(15px) rotate(45deg);
    }

    50% {
        transform: translateY(15px) rotate(0deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
        
    }
}

@keyframes navBtnOpenBottom {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-15px) rotate(0deg);
    }

    100% {
        transform: translateY(-15px) rotate(-45deg);
    }
}
@keyframes navBtnCloseBottom {
    0% {
        transform: translateY(-15px) rotate(-45deg);        
    }

    50% {
        transform: translateY(-15px) rotate(0deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}
@keyframes navBtnOpenMiddle {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}
@keyframes navBtnCloseMiddle {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}



.nav__trigger {
    position: absolute;
    z-index: 101;
    display: none;
    width: 40px;
    top: 17px;
    left: 20px;

    @include desktop() {
        display: block;
    }

    span {
        display: block;
        width: 100%;
        height: 5px;
        margin-bottom: 10px;
        background-color: #fff;
        border-radius: 10px;
        transform-origin: center;

    }

    span:first-child {
        animation: navBtnCloseTop 0.5s ease-in-out forwards;
    }
    span:nth-child(2) {
        animation: navBtnCloseMiddle 0.5s ease-in-out forwards;
    }

    span:last-child {
        margin-bottom: 0;
        animation: navBtnCloseBottom 0.5s ease-in-out forwards;
    }
}

.nav__trigger.active {
    span:first-child {
        animation: navBtnOpenTop  0.5s ease-in-out forwards;
    }
    span:nth-child(2) {
        animation: navBtnOpenMiddle 0.5s ease-in-out forwards;
    }

    span:last-child {
        margin-bottom: 0;
        animation: navBtnOpenBottom 0.5s ease-in-out forwards;
    }
}

.nav__trigger.no-animation span {
    animation: none !important;
}

