.btn {
    display: flex;
    background-color: $btn-color;
    padding: 5px 10px; 
    border-radius: 3px;
    box-shadow: 3px 0px 3px 0px darken($btn-color, 15%);
    color: $white;
    font-family: "robotobold", sans-serif;
    border-bottom: 3px solid darken($btn-color, 15%);
    cursor: pointer;

    &:hover {
        background-color: $btn-color-hov;
    }

    span {
        white-space: nowrap;
    }
}