.header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $text-grey;

    @include xl() {
        .header__contacts {
            flex-direction: column;
        }
        .header__contacts-phone {
            flex: 2;
        }
        .header__big-phone {
            font-size: 3rem;
            margin-left: auto;
            margin-right: 20px;
            flex: 1;

            i {
                display: block;
                margin: 21px;
            }
        }
    }
    @include desktop() {
        margin-top: 70px;
    }
    @include laptop() {
        .header__contacts-phone,
        .header__big-phone {
            margin-right: auto;
            margin-left: 0; 
        }

        .header__big-phone {
            i {
                margin: 0;
                margin-right: 12px;
            }
        }
    }
    @include phone() {
        .header__country-phone {
            flex-basis: unset;
        }
        .header__contacts-phone,
        .header__big-phone {
            margin-left: auto; 
        }

        .header__contacts {
            margin-bottom: 15px;
        }
        .btn__wrap {
            margin-left: 0;
        }
    }
    .header__top {
        display: flex;
        height: 100px;
        padding: 1rem 2rem;
        font-size: 2rem;
        a {
            span {
                transition: 0.3s color;
            }
        }
        @include phone() {
            flex-direction: column;
            height: auto;
        }
    }


    .icon-block:hover span {
        color: $link-hov;
    }
}

.header__company-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.8rem;
    margin-right: 2rem;
    span {
        white-space: nowrap;
    }
    @include laptop() {
        display: none;
    }
}

.header__contacts {
    display: flex;
    flex: 1;
}

.icon-block {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 20px;    
        span {
            line-height: 20px;
            white-space: nowrap;
        }
}

.header__contacts-phone {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
    margin-right: 20px;
    .header__country-phone {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-basis: 190px;
    }
}

.header__big-phone {
    display: flex;

    a{
        font-size: 5rem;
        letter-spacing: -4px;
    }

    span {
        line-height: initial;
    }
    i {
        display: none;
    }

    @include xl() {
        .icon-block {
            font-size: 2rem;
            letter-spacing: initial;
        }
    }
}

.btn__wrap {
    margin-left: 2rem;

    a.btn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-size: 1.6rem;
        padding: 20px;
    }
}



