.heading__second {
    color: $text-color-main;
    text-align: center;
    font-size: $text-size_second;
    font-family: $main-font; 
    margin-bottom: 50px;

    &.text--white {
        color: $white;
    }

    @include phone() {
        font-size: $text-size_sec-phone;
        margin-bottom: 30px;
    }
}

.special__heading {
    font-size: 5rem;
    margin-bottom: 30px;
    line-height: 1.2; 

    span.special__text-wow {
        font-size: 4rem;
    }
}