.header {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .header__top {
        display: flex;
        height: 100px;
        padding: 1rem 2rem;
        font-size: 2rem;
        a {
            transition: 0.3s color;
            span {
                transition: 0.3s color;
            }
        }
    }


    .icon-block:hover span {
        color: $link-hov;
    }
}

.header__company-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.8rem;
    margin-right: 2rem;
    span {
        white-space: nowrap;
    }
}

.header__contacts {
    display: flex;
}

.icon-block {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    font-size: 20px;    
        span {
            line-height: 20px;
            white-space: nowrap;
        }
}

.header__contacts-phone {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .header__country-phone {
        display: flex;
        align-items: center;
        justify-content: center;
        @include col-4();
        flex-basis: 180px;
    }
}

.header__about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 2rem;

    a.btn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-size: 1.6rem;
    }

    .small--text {
        font-weight: bold;
        font-size: 1.1rem;
        text-align: right;
        color: $text-grey;
    }

    .header__about-phone {
        font-size: 3rem;
        white-space: nowrap;
    }
}



