.fa--style {
    margin-right: 1rem;
    font-size: 2rem;
}

.icon-flag {
    display: block;
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-position: center;
}

.flag-ru {
    background-image: url('../img/icons/icon-flag-ru.png');
}
.flag-ee {
    background-image: url('../img/icons/icon-flag-ee.png');
}
.flag-at {
    background-image: url('../img/icons/icon-flag-at.png');
}
.flag-ua {
    background-image: url('../img/icons/icon-flag-ua.png');
}
.flag-en {
    background-image: url('../img/icons/icon-flag-en.png');
}