// Text modify
.text--center {
    display: block;
    text-align: center;
}

.text--white {
    color: $white;
}
.text--left {
    text-align: left;
}
.text--center {
    text-align: center;
}

// Icon modyfy
