.sertificats {
    width: 100%;
    background: $white url('../img/_sec_sertificats/sertificats_bg.png') no-repeat center;
    background-size: cover;
    padding: 50px 0;

    .heading__second {
        margin-bottom: 20px;
    }
    
    a {
        @include col();
        @include col-4();
    }
    img {
        height: auto;
        width: 100%;
    }


}