extends ../../_template
 
block variables
    - var title= 'Готовые Офшорные компании'

block content
    section.section.section-heading
        .container
            h1.heading__second.text--left Регистрация оффшорных компаний
            ul.breadcrumbs 
                li.breadcrumbs__item
                    a(href="/index.html").breadcrumbs__link Главная
                li.breadcrumbs__item
                     a(href="../company-offshor.html").breadcrumbs__link Оффшорные компании
                li.breadcrumbs__item
                    span.breadcrumbs__link Готовые оффшорные компании
    section.section.section-text
        .container
            .wrap__desc
                p
                    | Зачастую, стремясь работать в оффшоре, предприниматели не могут или не желают самостоятельно открывать фирмы. Компании, готовые для осуществления бизнес-деятельности, зарегистрированные по всем правилам специально для тех, кто не хочет тратить свое время, доступны у «Прифинанс». Консалтинговая фирма оказывает полный спектр услуг по сопровождению сделок, а компетентные специалисты сопровождают заказчика во время всего процесса. Мы поможем купить оффшорную компанию со счетом, подобрать удобный и выгодный клиенту вариант, проконсультируем по всем вопросам. Заключение сделки отнимает от одного часа до нескольких дней, а приступить к работе можно незамедлительно. Мы гарантируем абсолютную конфиденциальность, доставку готового пакета документации в любое место, оперативность и профессионализм.
                p   
                    | Купить готовый оффшор можно, выбрав из многих предложений. Предоставлены варианты с апостилированными регистрационными бумагами, обеспеченные номинальным сервисом (по желанию ‒ без него), оформленные в разное время (новые или уже существующие месяц, полгода). Мы следим, чтобы у приобретаемых фирм не было непогашенных обязательств, иных обременений. Клиенты имеют возможность выбирать ‒ готовые оффшоры с банковским счетом на «классической» территории (Доминикана, Сейшелы, Белиз и так далее) или компании в оншорных государствах с условиями, которые освобождают от необходимости внесения налогов или дают льготы (на Кипре, в Гонконге, Соединенном Королевстве). Оплатив услугу, заказчик получает в зависимости от выбранной программы:
                
                ul.list--dot
                    li 
                        | подготовку, оформление и полный набор готовой документации, ее доставку;
                    li 
                        | услуги по предоставлению юридических адресов, номинального руководства;
                    li 
                        | оплату пошлинных сборов и все, что будет необходимо.

                p Требования к документации

                p Оффшорные компании ‒ готовые и работоспособные ‒ предполагают наличие определенного пакета официальных бумаг. Это:

                ul.list--dot
                    li 
                        | уставная и учредительная документация, протоколы первого собрания акционеров, назначающего дирекцию;
                    li 
                        | генеральные доверенности и резолюции на их выпуск;
                    li 
                        | сертификаты ‒ акционные (с резолюцией), об инкорпорации;
                    li 
                        | трастовое декларирование, отказные письма, удостоверение согласия наемного директора и так далее.

                p От заказчиков требуются:

                ul.list--dot
                    li 
                        | копии паспортов (внутренний или заграничный);
                    li 
                        | подтверждение места жительства ‒ любой документ, от квитанций за коммунальные платежи до выписок из домовых книг;
                    li 
                        | образец написания ФИО заказчика латиницей, с подтверждением (копией загранпаспорта, пластиковой карты водительских прав ‒ опционально).