extends ../../_template
 
block variables
    - var title= 'Регистрация на Сейшельскич островах'

block content
    section.section.section-heading.section-padding-bottom
        .container
            h1.heading__second.text--left Регистрация на Сейшельских островах
            ul.breadcrumbs 
                li.breadcrumbs__item
                    a(href="/index.html").breadcrumbs__link Главная
                li.breadcrumbs__item
                     a(href="/pages/company-offshor.html").breadcrumbs__link Оффшорные компании
                li.breadcrumbs__item
                    span.breadcrumbs__link Сейшелы

            .slider__pagination
            .slider__wrap.slider-obshor__wrap
                .slider-arrow.slider-arrow__next
                    +icon('slider-arrow')
                .slider-arrow.slider-arrow__prev
                    +icon('slider-arrow')
                div(data-slick='{"slidesToShow": 1, "slidesToScroll": 1}').slider.company-obshor__slider
                    include ./more-about/_seichelles-tables
            
            include ../../common/_popupform

    section.section.section-specials
        .special__filtered.overlay
        .specials__wrap
            h1.special__heading При покупке компании
                br
                span.special__text-wow до 31 августа
            span.special__desc открытие банковского счета 
            span.special__text-wow бесплатно

    section.section.section-stages
        .container
            h2.heading__second 6 простых шагов для покупки компании:
            ul.list.stages__list
                li.stages__item
                    .stages__wrap-desc
                        span.stages__number 1
                        span.stages__item-desc выбрать
                            br
                            | страну
                    .stages__wrap-icon
                        i(class=`fa fa-globe` aria-hidden="true").stages__icon
                li.stages__item
                    .stages__wrap-desc
                        span.stages__number 2
                        span.stages__item-desc выбрать
                            br
                            | банк
                    .stages__wrap-icon
                        i(class=`fa fa-building` aria-hidden="true").stages__icon
                li.stages__item
                    .stages__wrap-desc
                        span.stages__number 3
                        span.stages__item-desc оплатить 
                            br
                            | удобным
                            br
                            | способом
                    .stages__wrap-icon
                        i(class=`fa fa-credit-card` aria-hidden="true").stages__icon
                li.stages__item
                    .stages__wrap-desc
                        span.stages__number 4
                        span.stages__item-desc отправка
                            br
                            | документов
                    .stages__wrap-icon
                        i(class=`fa fa-paper-plane` aria-hidden="true").stages__icon
                li.stages__item
                    .stages__wrap-desc
                        span.stages__number 5
                        span.stages__item-desc открытие
                            br
                            | банковского
                            br
                            | счета
                    .stages__wrap-icon
                        i(class=`fa fa-shield` aria-hidden="true").stages__icon
                li.stages__item
                    .stages__wrap-desc
                        span.stages__number 6
                        span.stages__item-desc регистрация
                            br
                            | компании
                    .stages__wrap-icon
                        i(class=`fa fa-id-card-o` aria-hidden="true").stages__icon
    section.section.section-text
        .container
            .wrap__desc
                p
                    | Классическая оффшорная зона Сейшельских островов привлекает предпринимателей развитой инфраструктурой, надежной банковской системой и прозрачным законодательством. Юрисдикция располагает к построению доходного бизнеса с серьезными перспективами, к точному планированию и использованию большого арсенала финансовых инструментов. Регистрация фирмы на Сейшельских островах ведется по различным направлениям. Здесь выгодно открывать хедж-фонды, трастовые компании, представительства различных торговых организаций и фирм, оказывающих финансовые услуги. Это государство — надежная площадка для повышения конкурентоспособности и выхода на международные рынки.
                h2.heading__second Особенности зоны
                p
                    | Компания «Прифинанс» регистрирует представительства на Сейшелах в сжатые сроки. Уставной капитал, не требующий оплаты, составляет $ 100 000. При такой величине размер пошлины — $ 100. Собственникам компаний с УК от $1 млн нужно уплатить пошлину в $ 1000. Чтобы купить оффшор на Сейшельских островах, необходимо сформировать минимальный состав компании в лице одного человека. В таком случае директор компании по совместительству будет акционером. Компании создаются в форме IBC. Вы можете выбрать готовую из предложенного списка или зарегистрировать новую. Разрешена эмиссия акций на предъявителя.

                p
                    | Законодательство островов выдвигает требования по обязательному присутствию регистрационного агента и офиса в стране. Соблюсти это правило помогут сотрудники «Прифинанс». Мы предоставим компаниям такого человека, резидента Сейшел.

                h2.heading__second Основные банки Сейшельских островов:
                ul.list--dot
                    li
                        | Seychelles Savings Bank — Сберегательный банк (ранее предоставлял услуги только частных лицам — резидентам Республики).
                    li
                        | Barclays Bank (Seychelles) Ltd. — Барклайз (Сейшелы) Банк Лтд.
                    li
                        | Bank of Baroda — Банк Барода.
                    li
                        | Mauritius Commercial Bank (Seychelles) Ltd. — Маврикий Коммершл Банк (Сейшелы) Лтд.
                    li
                        | Habib Bank Limited — Хабиб Банк Лимитед.
                    li
                        | Seychelles International Mercantile Banking Corporation — Сейшелы Интернешнл Меркантайл Банкинг Корпорэйшн (известен под торговой маркой «Нувобанк»).

                h2.heading__second Процедура регистрации
                p
                    |Сотрудники компании «Прифинанс» предоставляют на выбор список готовых компаний или регистрируют новую (по желанию клиента). Для регистрации фирмы необходимо внести авансовый платеж — всего 30% от общей стоимости услуг и подготовить информацию об учредителе.

                h3 Стандартный пакет документов:

                ul.list--dot
                    li
                        | Certificate of Incorporation — регистрационное свидетельство.
                    li
                        | Memorandum & Articles of Association — Устав и Меморандум
                    li
                        | Register of Directors and Members — Реестр акционеров и директоров.
                    li
                        | Resolution of subscriber in writing — Резолюция подписанта о назначении директора.
                    li
                        | Share Certificate — Сертификат акций.
                    li
                        | Резолюция о выпуске акций.
                    li
                        | Резолюция директора о регистрационном адресе компании.
                    li
                        | Резолюция директора об адресе хранения реестров компании и первичной бухгалтерской документации.
                    li
                        | Печать компании.
                    li
                        | Апостиль.
    section.section.section-best-offer
        .container
            h2.heading__second Актуальные предложения
            .best-offer__wrap
                ul.list.best-offer__list
                    li.list__item
                        .offer-item
                            .offer-item__img-wrap
                                img(src="/assets/img/_sec-offer/item-1.jpg" alt="спецпредожение").offer-item__img
                            .offer-item__desc
                                .offer-item__desc-heading Регистрация компаний
                                    br
                                    | на кипре
                                .offer-item__desc-coast от 69 000 руб
                                a(href="#").offer-item__desc-link Подробнее
                    li.list__item
                        .offer-item
                            .offer-item__img-wrap
                                img(src="/assets/img/_sec-offer/item-2.jpg" alt="спецпредожение").offer-item__img
                            .offer-item__desc
                                .offer-item__desc-heading Регистрация компаний
                                    br
                                    | в канаде
                                .offer-item__desc-coast от 66 000 руб
                                a(href="#").offer-item__desc-link Подробнее
                    li.list__item
                        .offer-item
                            .offer-item__img-wrap
                                img(src="/assets/img/_sec-offer/item-3.jpg" alt="спецпредожение").offer-item__img
                            .offer-item__desc
                                .offer-item__desc-heading Регистрация компаний
                                    br
                                    | в панаме
                                .offer-item__desc-coast от 79 000 руб
                                a(href="#").offer-item__desc-link Подробнее