// fonts
$main-font: "robotoregular", sans-serif;

// text-size
$text-size_main: 16px;
$text-size_h1: 63px;
$text-size_h2: 35px;
$text-size_h3: 28px;


// colors
$acsent: #00aff0;
$link-hov: #cf000f;
$white: #fff;
$black: #000;

// bg colors
$main-bg: blue;
$aside-bg:#2c3e50; 
$aside-bg-hov: #22313F; 

// text-color
$text-color_main: #474b57;
$text-grey: #546372;