// fonts
$main-font: "robotoregular", sans-serif;
$font-bold: "robotobold", sans-serif;

// text-size
$text-size_main: 16px;
$text-size_h1: 63px;
$text-size_h2: 35px;
$text-size_h3: 28px;


// colors
$acsent: #00aff0;
$acsent-pink: #CD5C5C;
$link-hov: #cf000f;
$white: #fff;
$black: #000;

// bg colors
$main-bg: blue;
$footer-bg: #22222B;
$section-text: lighten(#C1C1C1, 15%);


// text-color
$text-color_main: #1F1F1F;
$text-size_second: 3.6rem;
$text-size_sec-phone: 2.4rem;
$text-grey: #A8A8B7;
$text-action: #cf000f;
$text-link: #CD5C5C;

// Buttons
$btn-color: #cf000f;
$btn-color-hov: darken($btn-color, 10%);

// form block

$placeholder-color: #757575;

// Aside menu
$aside-bg: #333384; 
$aside-border: darken($aside-bg, 10%);
$aside-bg-hov: darken($aside-bg, 15%); 

// Square

$square-size-4: 18vw;
$square-size-3: 25vw;
$square-size-dt: 30vw;
$square-size-lp: 43vw;
$square-size-ph: 60vw;