extends ../_template
 
block variables
    - var title= 'Онлайн казино'

block content
    section.section.company.residence.license
        .container
            h2.heading__second.text--left Онлайн казино
            ul.breadcrumbs 
                li.breadcrumbs__item
                    a(href="/index.html").breadcrumbs__link Главная
                li.breadcrumbs__item
                    span.breadcrumbs__link Онлайн казино

            h2.heading__sub.text--left Выбирите страну:

            ul.list.residence__list
                li.list__item
                    a(href="./residence-permit/residence-greec.html").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/greece.jpg" alt="спецпредожение").residence-item__img
                        .residence-item__desc Греция
                        .residence-item__coast получение лицензии
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/latvia.jpg" alt="спецпредожение").residence-item__img
                        .residence-item__desc Латвия
                        .residence-item__coast получение лицензии
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast получение лицензии
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast получение лицензии
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast получение лицензии
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast получение лицензии
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast получение лицензии
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast получение лицензии
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast получение лицензии
    
    section.section.section-text
        .container
            .wrap__desc
                h2.heading__second ОНЛАЙН КАЗИНО

                p   
                    | Игорный бизнес трактуется в законодательстве РФ как запрещенная деятельность. Существующие в этой сфере условия, ограничения и зоны ответственности прописаны в ФЗ №244. Вместе с тем существует способ вести бизнес в области онлайн-гэмблинга и не выходить за рамки правового поля — нужно открыть онлайн-казино за пределами страны.

                p   
                    | Сотрудники «Прифинанс» помогут выбрать юрисдикцию, в которой такой вид деятельности признан законным, ознакомят с условиями ведения бизнеса, порядком получения разрешительных документов и так далее.

                p   
                    | Компания осуществляет полный цикл работ и гарантирует оперативное выполнение обязательств. Мы не перекладываем часть работ на посредников, что помогает обеспечить высококлассный сервис, поддержку на протяжении всего периода подготовки к открытию онлайн-казино, надлежащее информационное сопровождение.

                p   
                    | Сотрудничая с «Прифинанс», вы получаете:

            ul.list--dot
                    li 
                        | экономию времени и финансовых ресурсов;
                    li 
                        | страховку от рисков допустить ошибки, не учесть специфику иностранного законодательства, выбрать не оптимальную схему ведения бизнеса;
                    li 
                        | рабочий инструмент повышения благосостояния;
                    li 
                        | профессиональное обслуживание с учетом специфики конкретного случая.