extends ../_template
 
block variables
    - var title= 'Офшорные компании'

block content
    section.section.company-obshor
        .container
            h2.heading__second.text--left Регистрация оффшорных компаний
            ul.breadcrumbs 
                li.breadcrumbs__item
                    a(href="/index.html").breadcrumbs__link Главная
                li.breadcrumbs__item
                    span.breadcrumbs__link Оффшорные компании
            .slider__wrap.slider-obshor__wrap
                .slider-arrow.slider-arrow__next
                    +icon('slider-arrow')
                .slider-arrow.slider-arrow__prev
                    +icon('slider-arrow')
                div(data-slick='{"slidesToShow": 2, "slidesToScroll": 1}').slider.company-obshor__slider
                    div
                        .table__wrap
                            div.table.table__obshor
                                .table__row
                                    .table__ceil.table__heading Юрисдикция
                                    .table__ceil.table__heading-desc.table__heading-name Оффшор Сейшелы
                                .table__row
                                    .table__ceil.table__heading Стоимость регистрации
                                    .table__ceil.table__heading-desc 349 USD
                                .table__row 
                                    .table__ceil.table__heading Апостилированный пакет
                                        .tooltip(data-tooltip="Апостилированный пакет – заверение апостилем пакета документов, необходимых для регистрации в иностранном государстве.") ?
                                    .table__ceil.table__heading-desc 370 USD
                                .table__row 
                                    .table__ceil.table__heading Номинальный сервис
                                        .tooltip(data-tooltip="Номинальный сервис – услуги номинального директора или акционеров офшорной компании для сохранения конфиденциальности реального владельца.") ?
                                    .table__ceil.table__heading-desc 450 USD
                                .table__row 
                                    .table__ceil.table__heading Ежегодное продление
                                    .table__ceil.table__heading-desc 280 USD
                                .table__row
                                    .table__ceil.table__heading Отчетность
                                        .tooltip(data-tooltip="Отчетность – годовой отчет и аудит по результатам деятельности.") ?
                                    .table__ceil.table__heading-desc X
                    div
                        .table__wrap
                            div.table.table__obshor
                                .table__row
                                    .table__ceil.table__heading Юрисдикция
                                    .table__ceil.table__heading-desc.table__heading-name Оффшор Сейшелы
                                .table__row
                                    .table__ceil.table__heading Стоимость регистрации
                                    .table__ceil.table__heading-desc 349 USD
                                .table__row 
                                    .table__ceil.table__heading Апостилированный пакет
                                        .tooltip(data-tooltip="Апостилированный пакет – заверение апостилем пакета документов, необходимых для регистрации в иностранном государстве.") ?
                                    .table__ceil.table__heading-desc 370 USD
                                .table__row 
                                    .table__ceil.table__heading Номинальный сервис
                                        .tooltip(data-tooltip="Номинальный сервис – услуги номинального директора или акционеров офшорной компании для сохранения конфиденциальности реального владельца.") ?
                                    .table__ceil.table__heading-desc 450 USD
                                .table__row 
                                    .table__ceil.table__heading Ежегодное продление
                                    .table__ceil.table__heading-desc 280 USD
                                .table__row
                                    .table__ceil.table__heading Отчетность
                                        .tooltip(data-tooltip="Отчетность – годовой отчет и аудит по результатам деятельности.") ?
                                    .table__ceil.table__heading-desc X
                    div
                        .table__wrap
                            div.table.table__obshor
                                .table__row
                                    .table__ceil.table__heading Юрисдикция
                                    .table__ceil.table__heading-desc.table__heading-name Оффшор Сейшелы
                                .table__row
                                    .table__ceil.table__heading Стоимость регистрации
                                    .table__ceil.table__heading-desc 349 USD
                                .table__row 
                                    .table__ceil.table__heading Апостилированный пакет
                                        .tooltip(data-tooltip="Апостилированный пакет – заверение апостилем пакета документов, необходимых для регистрации в иностранном государстве.") ?
                                    .table__ceil.table__heading-desc 370 USD
                                .table__row 
                                    .table__ceil.table__heading Номинальный сервис
                                        .tooltip(data-tooltip="Номинальный сервис – услуги номинального директора или акционеров офшорной компании для сохранения конфиденциальности реального владельца.") ?
                                    .table__ceil.table__heading-desc 450 USD
                                .table__row 
                                    .table__ceil.table__heading Ежегодное продление
                                    .table__ceil.table__heading-desc 280 USD
                                .table__row
                                    .table__ceil.table__heading Отчетность
                                        .tooltip(data-tooltip="Отчетность – годовой отчет и аудит по результатам деятельности.") ?
                                    .table__ceil.table__heading-desc X
                    div
                        .table__wrap
                            div.table.table__obshor
                                .table__row
                                    .table__ceil.table__heading Юрисдикция
                                    .table__ceil.table__heading-desc.table__heading-name Оффшор Сейшелы
                                .table__row
                                    .table__ceil.table__heading Стоимость регистрации
                                    .table__ceil.table__heading-desc 349 USD
                                .table__row 
                                    .table__ceil.table__heading Апостилированный пакет
                                        .tooltip(data-tooltip="Апостилированный пакет – заверение апостилем пакета документов, необходимых для регистрации в иностранном государстве.") ?
                                    .table__ceil.table__heading-desc 370 USD
                                .table__row 
                                    .table__ceil.table__heading Номинальный сервис
                                        .tooltip(data-tooltip="Номинальный сервис – услуги номинального директора или акционеров офшорной компании для сохранения конфиденциальности реального владельца.") ?
                                    .table__ceil.table__heading-desc 450 USD
                                .table__row 
                                    .table__ceil.table__heading Ежегодное продление
                                    .table__ceil.table__heading-desc 280 USD
                                .table__row
                                    .table__ceil.table__heading Отчетность
                                        .tooltip(data-tooltip="Отчетность – годовой отчет и аудит по результатам деятельности.") ?
                                    .table__ceil.table__heading-desc X
                    div
                        .table__wrap
                            div.table.table__obshor
                                .table__row
                                    .table__ceil.table__heading Юрисдикция
                                    .table__ceil.table__heading-desc.table__heading-name Оффшор Сейшелы
                                .table__row
                                    .table__ceil.table__heading Стоимость регистрации
                                    .table__ceil.table__heading-desc 349 USD
                                .table__row 
                                    .table__ceil.table__heading Апостилированный пакет
                                        .tooltip(data-tooltip="Апостилированный пакет – заверение апостилем пакета документов, необходимых для регистрации в иностранном государстве.") ?
                                    .table__ceil.table__heading-desc 370 USD
                                .table__row 
                                    .table__ceil.table__heading Номинальный сервис
                                        .tooltip(data-tooltip="Номинальный сервис – услуги номинального директора или акционеров офшорной компании для сохранения конфиденциальности реального владельца.") ?
                                    .table__ceil.table__heading-desc 450 USD
                                .table__row 
                                    .table__ceil.table__heading Ежегодное продление
                                    .table__ceil.table__heading-desc 280 USD
                                .table__row
                                    .table__ceil.table__heading Отчетность
                                        .tooltip(data-tooltip="Отчетность – годовой отчет и аудит по результатам деятельности.") ?
                                    .table__ceil.table__heading-desc X
                    div
                        .table__wrap
                            div.table.table__obshor
                                .table__row
                                    .table__ceil.table__heading Юрисдикция
                                    .table__ceil.table__heading-desc.table__heading-name Оффшор Сейшелы
                                .table__row
                                    .table__ceil.table__heading Стоимость регистрации
                                    .table__ceil.table__heading-desc 349 USD
                                .table__row 
                                    .table__ceil.table__heading Апостилированный пакет
                                        .tooltip(data-tooltip="Апостилированный пакет – заверение апостилем пакета документов, необходимых для регистрации в иностранном государстве.") ?
                                    .table__ceil.table__heading-desc 370 USD
                                .table__row 
                                    .table__ceil.table__heading Номинальный сервис
                                        .tooltip(data-tooltip="Номинальный сервис – услуги номинального директора или акционеров офшорной компании для сохранения конфиденциальности реального владельца.") ?
                                    .table__ceil.table__heading-desc 450 USD
                                .table__row 
                                    .table__ceil.table__heading Ежегодное продление
                                    .table__ceil.table__heading-desc 280 USD
                                .table__row
                                    .table__ceil.table__heading Отчетность
                                        .tooltip(data-tooltip="Отчетность – годовой отчет и аудит по результатам деятельности.") ?
                                    .table__ceil.table__heading-desc X