extends ../_template
 
block variables
    - var title= 'компании США'

block content
    include ../common/_popupform
    section.section.company
        .container
            h2.heading__second.text--left Регистрация компаний США
            ul.breadcrumbs 
                li.breadcrumbs__item
                    a(href="/index.html").breadcrumbs__link Главная
                li.breadcrumbs__item
                    span.breadcrumbs__link компании США
            .slider__pagination
            .slider__wrap.slider-obshor__wrap
                .slider-arrow.slider-arrow__next
                    +icon('slider-arrow')
                .slider-arrow.slider-arrow__prev
                    +icon('slider-arrow')
                div(data-slick='{"slidesToShow": 1, "slidesToScroll": 1}').slider.company-obshor__slider
                    include ./company-usa/_usa-tables
    
    section.section.section-text
        .container
            .wrap__desc
                h2.heading__second РЕГИСТРАЦИЯ КОМПАНИЙ В США

                p
                    | США ‒ государство с широкими возможностями для предпринимательской деятельности, что позволяет работать в прозрачной, стабильной среде. Среди распространенных причин создания собственной американской фирмы называют желание выйти на обширный рынок США и бизнес-эмиграцию. В этом помогут специалисты «Прифинанс». Многолетний опыт регистрации компаний и высокая квалификация экспертов позволяют оградить заказчика от бюрократической рутины и свести к нулю вероятность ошибок.

                p
                    | В США правила, регулирующие процесс создания собственного дела, разнятся в зависимости от штата и специфики деятельности, и подобрать подходящую юрисдикцию ‒ не самая простая задача. Эксперты «Прифинанс» помогут:

                ul.list--dot
                    li 
                        | выбрать наименование и форму деятельности: LLC (аналог ООО), частно-предпринимательская деятельность, корпорация или партнерство; 
                    li 
                        | определить штат регистрации: классические Неваду или Делавэр, Калифорнию с насыщенной бизнес-жизнью, Вайоминг, где не нужно оформлять List of Officers; 
                    li 
                        | создать юридический адрес; 
                    li 
                        | получить лицензию; 
                    li 
                        | подать регистрационные бумаги в секретариат администрации штата; 
                    li 
                        | получить бизнес-номер; 
                    li 
                        | открыть банковский счет.

                p 
                    | Соединенные Штаты Америки можно по праву назвать страной с практически неограниченными возможностями для реализации предпринимательской деятельности. Крупнейшая экономика этого государства основана на развитии частного бизнеса, которому способствуют устойчивость экономической системы и надежность законодательства. Не удивительно, что открыть фирму в США стремятся предприниматели практически всего мира. Рассмотрим, почему.

                p 
                    | Регистрация фирмы в США предоставляет широкий ряд дополнительных преимуществ, среди которых:
                
                ul.list--dot
                    li 
                        | невысокая стоимость занесения фирмы в официальный реестр;
                    li 
                        | простое и быстрое выполнение процедуры регистрации компании;
                    li 
                        | возможность формирования уставного капитала в любом размере;
                    li 
                        | предоставление защиты личного имущества акционеров;
                    li 
                        | наличие разрешения на создание филиалов компании в странах-членах Евросоюза;
                    li 
                        | отсутствие налоговой ответственности для владельцев-нерезидентов компаний;
                    li 
                        | возможность ведения безналоговой деятельности при выполнении определенных условий;
                    li 
                        | высокий уровень безопасности.

                h3.heading__sub регистрации компаний
                    
                p
                    |В данной юрисдикции ведение бизнеса законодательно предусмотрено в обозначенных формах:
                
                ul.list--dot
                    li 
                        | Sole proprietorship;
                    li 
                        | партнерство;
                    li 
                        | партнерство, ответственность членов которого не ограничена;
                    li 
                        | Limited Partnerships;
                    li 
                        | совместное предприятие (Joint Venture);
                    li 
                        | корпорация (Corporation);
                    li 
                        | компания с ограниченной ответственностью (LLC).

                h3.heading__sub Какая форма предпочтительна
                
                p
                    | Выгоднее всего открыть фирму в США как корпорацию или компанию типа LLC:
                
                ul.list--dot
                    li 
                        | В случае если регистрация происходит с целью дальнейшего ведения деятельности в пределах данного государства, следует остановиться на создании корпорации.
                    li 
                        | Когда же предприятие создается для реинвестирования средств или с целью налоговой оптимизации – компания с ограниченной ответственностью станет наилучшим выбором 
                        
                h3.heading__sub Корпорация
                
                p
                    | Это предельно безопасная и престижная форма основания бизнеса. Вне территории США компания данного типа может успешно использоваться в качестве обычного оффшора по причине того, что доходы, полученные корпорацией за пределами страны, при выполнении отдельных условий не подлежат налогообложению.

                p
                    | В сравнении с другими организационными формами предприятий корпорация предоставляет выгодные преимущества владельцу компании, среди которых:
                ul.list--dot
                    li 
                        | ограничение ответственности учредителей исключительно в пределах имущества фирмы;
                    li 
                        | неограниченный период существования компании;
                    li 
                        | простая процедура смены владельцев в форме перераспределения акций;
                    li 
                        | получение налоговых льгот в зависимости от сферы деятельности и размера бизнеса.
                h3.heading__sub LLC

                p
                    | Такой вариант можно назвать наиболее эффективной формой реализации международного бизнеса в США. Чтобы открыть фирму в США такого типа, необходимо выполнить ряд условий:

                ul.list--dot
                    li 
                        | располагать регистрационным офисом и регистрационным агентом в штате;
                    li 
                        | иметь не меньше одного учредителя, который может быть физическим либо юридическим лицом;
                    li 
                        | предоставлять ежегодный бухгалтерский отчет, в случае, если компания стоит на налоговом учете;
                    li 
                        | четко определить права всех членов компании, а также их ответственность в учредительном соглашении.
                
                p   
                    | Регистрация фирмы в США в формате LLC предоставляет возможность использовать ее в качестве оффшора при выполнении следующих условий:
                
                ul.list--dot
                    li 
                        | отсутствие среди владельцев и управляющих фирмы резидентов США;
                    li 
                        | ведение деятельности исключительно вне территории страны;
                    li 
                        | открытие банковских счетов в любых банках, кроме американских.

                h3.heading__sub Ключевые этапы регистрации
                
                p   
                    | Создание фирмы в отдельных штатах имеет свои, определенные местным законодательством, особенности. При этом ключевые этапы регистрации компании остаются неизменными вне зависимости от штата:
                
                ul.list--dot
                    li 
                        | выбор организационно-правовой формы;
                    li 
                        | определение названия фирмы, которое не должно повторять любое из уже зарегистрированных;
                    li 
                        | выбор штата, в котором будет происходить непосредственно инкорпорация компании;
                    li 
                        | определение регистрационного агента (registered agent) – физического или юридического лица, которое будет отвечать за                   li 
                        | взаимосвязь между государственными органами и непосредственно будущей фирмой;
                    li 
                        | подача заявления секретарю штата;
                    li 
                        | регистрация в налоговом управлении;
                    li 
                        | открытие банковского счета/счетов.
                h3.heading__sub Существуют ли оффшорные зоны США?

                p
                    | Зарегистрированная в США компания – это надежный и престижный инструмент осуществления различных сделок, ведения предпринимательской деятельности и совершения операций разного профиля. При этом оффшорные зоны США – это не что иное, как вымысел недобросовестных посредников-регистраторов, которые стремятся привлечь желающих зарегистрировать компанию в иностранной юрисдикции. Следует помнить, что законодательством США оффшоров в данной стране не предусмотрено. Чем же обусловлено появление заблуждения о функционировании в США таких зон? Прежде всего тем, что в этой стране возможно абсолютно легально вести бизнес при отсутствии у компании налоговых обязательств.

                p
                    | Для фирм, зарегистрированных в форме LLC, законодательством предусмотрен режим Disregarderd entity, при котором доход организации приравнивается к доходу ее владельца. При этом, если владелец – нерезидент страны и не получает деньги в пределах США, то необходимость уплачивать какие-либо налоги не возникает. Использование данного режима не требует даже предоставления отчетности. По сути, когда фирмы-регистраторы предлагают приобрести в США готовый оффшор, они подразумевают предоставление клиенту именно такой компании. Это не «безналоговая гавань» в традиционно понимании.

                p
                    | С практической точки зрения, в США оффшоры действуют по вышеописанной схеме.

                h3.heading__sub Быстрая и грамотная регистрация
                
                p
                    | Компания «ЦКС» обладает значительным опытом создания организаций различных типов в разных странах, в числе наших услуг и регистрация фирмы в США. Мы предоставляем полный комплекс поддержки при создании компании в любом штате, сопровождаем все этапы ее регистрации в данной стране:
                
                ul.list--dot
                    li 
                        | подготовку необходимой документации;
                    li 
                        | проверку и подтверждение наименования компании;
                    li 
                        | обеспечение регистрационного агента (Registered Agent);
                    li 
                        | подачу заявления секретарю штата;
                    li 
                        | оплату сборов и пошлин при регистрации;
                    li 
                        | инкорпорацию в Регистре предприятий штата;
                    li 
                        | открытие банковского счета/счетов.
                
                p
                    | «Прифинанс» обеспечит начало деятельности компании в США, действуя в правовом поле страны и отдельного штата, минимизируя вовлеченность предпринимателя в процесс, риски ошибок и неблагоприятного исхода.
