extends ../_template
 
block variables
    - var title= 'Офшорные компании'

block content
    section.section.company
        .container
            h2.heading__second.text--left Регистрация оффшорных компаний
            ul.breadcrumbs 
                li.breadcrumbs__item
                    a(href="/index.html").breadcrumbs__link Главная
                li.breadcrumbs__item
                    span.breadcrumbs__link Оффшорные компании
            .slider__pagination
            .slider__wrap.slider-obshor__wrap
                .slider-arrow.slider-arrow__next
                    +icon('slider-arrow')
                .slider-arrow.slider-arrow__prev
                    +icon('slider-arrow')
                div(data-slick='{"slidesToShow": 1, "slidesToScroll": 1}').slider.company-obshor__slider
                    include ./company-offshor/_offshor-tables
            
            include ../common/_popupform
            

    section.section.section-text
        .container
            .wrap__desc
                p
                    | Стремление предпринимателей вывести бизнес на международную арену вполне понятно. И в поисках эффективных решений для развития деятельности, оптимизации налогового бремени, сохранения и приумножения капитала многие принимают решение купить оффшорную компанию в Москве, не оставляя здесь дела надолго. Это важный шаг, но еще не гарантия успеха. Какую страну выбрать? Какие подготовить документы? Как минимизировать риск отказа? Это лишь часть вопросов, которые возникают у каждого бизнесмена, которого заинтересовала продажа оффшорных компаний.
                p   
                    | Найти ответы самостоятельно не так уж и просто, ведь список лучших зон и наиболее благоприятных юрисдикций все время меняется. Это динамичный процесс, которому свойственны трансформации. На международном финансовом рынке то и дело появляются новые игроки, меняются требования, совершенствуются условия. Чтобы регистрация оффшоров была оправданной и экономически целесообразной, необходимо отслеживать ситуацию в мире, анализировать, сравнивать, изучать законодательные нюансы.
                p   
                    | Делать это самостоятельно непросто, да и не выгодно, ведь процесс займет массу времени и заставит отвлечься от основной деятельности. Гораздо рациональнее зарегистрировать фирму в оффшоре при поддержке «Прифинанс». Наши эксперты следят за изменениями мировой конъюнктуры и законодательства, сравнивают условия и требования различных стран и компетентно подходят к выбору подходящей юрисдикции.
                p   
                    | Оффшорная компания, учрежденная с учетом советов экспертов, всех исходных данных и потребностей владельца, принесет ему очевидные преимущества.

                h2.heading__second ВЫГОДЫ ДЛЯ КЛИЕНТА
                p   
                    | Открытие оффшора преследует множество целей. В числе основных — гарантии конфиденциальности деятельности и освобождение (полное или частичное) от уплаты налогов. Кроме того, страны-оффшоры лояльны в аспекте контроля. В некоторых из них полностью отсутствуют требования по ведению учета и сдаче отчетности, нет валютного мониторинга.

                h2.heading__second НАИБОЛЕЕ ПОПУЛЯРНЫЕ ОФФШОРЫ
                p
                    | Эксперты «Прифинанс» помогут открыть оффшорную фирму недорого и быстро, порекомендуют страны, в которых выгоднее всего это сделать. Наиболее привлекательны для предпринимателей юрисдикции, где нерезиденты полностью освобождаются от уплаты налогов при ведении бизнеса за пределами страны. В таком случае регистрация в оффшоре позволяет существенно улучшить финансовый результат. В числе таких государств, стоит выделить:

                ul.list--dot
                    li 
                        | ОАЭ — здесь можно освободиться от подачи финотчетности и уплаты налога на прибыль.
                    li 
                        | Сейшелы — процедура регистрации достаточно простая.
                    li 
                        | Белиз — открытие оффшора осуществляется по упрощенной схеме, а вся информация о компании конфиденциальна.
                    li 
                        | Каймановы острова — юрисдикция освобождает от уплаты налогов. Открыть здесь фирму можно за один день. Это одно из наиболее привлекательных государств для нерезидентов.
                    li 
                        | Новая Зеландия — законодательством предусмотрены условия, при выполнении которых разрешено вести деятельность с нулевой ставкой налогообложения. Здесь можно зарегистрировать оффшорную компанию для ведения бизнеса за пределами страны. В таком случае не нужно формировать финансовую отчетность.

                h2.heading__second СТРАНЫ С ЛОЯЛЬНЫМ ЗАКОНОДАТЕЛЬСТВОМ
                p
                    | Выше мы привели список наиболее дружественных к нерезидентам государств, в которых можно купить оффшор. В каждом из них свое законодательство и специфика подачи документов. Все эти нюансы знают сотрудники «Прифинанс». Мы выполним обязательные процедуры в соответствии с требованиями, что обеспечит благоприятный исход. Кроме того, наши эксперты предложат и другие юрисдикции. В них не менее выгодно вести деятельность, а налоговые ставки можно оптимизировать при выполнении ряда условий. Это:

                ul.list--dot 
                    li
                        | Гонконг — один из главных финансовых рынков мира, государство с низкими налогами и публичной информацией о зарегистрированных организациях.
                    li
                        | Мальта — здесь действуют хорошие налоговые льготы, однако получить их можно лишь после прохождения достаточно строгой проверки на предмет соответствия деятельности фирмы требованиям законодательства.
                    li
                        | Англия — престижная юрисдикция с развитой экономикой, лояльным налоговым законодательством и упрощенной схемой подготовки финансовых отчетов.
                    li
                        | Швейцария — мировой банковский центр, в котором сосредоточено около трети всего капитала. Иметь здесь компанию престижно и выгодно, так как соблюдается конфиденциальность, действуют гибкие ставки налогов.
                    li
                        | Сингапур — высокоразвитое государство со стабильной экономикой и надежной банковской системой. Страна привлекает простой и понятной процедурой налогообложения, широкими возможностями для развития бизнеса.
                
                h2.heading__second КРОМЕ ТОГО
                p
                    | Есть ряд стран, которые освобождают нерезидентов от уплаты налогов, однако не вызывают доверия в аспекте экономической стабильности и финансовой надежности. К этой группе стоит отнести Нуару, Либерию, Маршалловы острова.
                p   
                    | Сегодня, когда деоффшоризация наращивает темпы, очень важно следить за наиболее актуальной информацией о рейтингах стран. Эти задачи — в компетенции «Прифинанс». Если вас интересуют оффшоры, купить в Москве их можно при поддержке наших сотрудников.
                a.link-text(href="./company-offshor/ready-offshor-company.html") Готовые оффшорные компании
                    