extends ../_template
 
block variables
    - var title= 'Европейские компании'

block content
    include ../common/_popupform
    section.section.company
        .container
            h2.heading__second.text--left Регистрация Европейских компаний
            ul.breadcrumbs 
                li.breadcrumbs__item
                    a(href="/index.html").breadcrumbs__link Главная
                li.breadcrumbs__item
                    span.breadcrumbs__link Европейские компании
            .slider__pagination
            .slider__wrap.slider-obshor__wrap
                .slider-arrow.slider-arrow__next
                    +icon('slider-arrow')
                .slider-arrow.slider-arrow__prev
                    +icon('slider-arrow')
                div(data-slick='{"slidesToShow": 1, "slidesToScroll": 1}').slider.company-obshor__slider
                    include ./company-europa/_europa-tables
    
    section.section.section-text
        .container
            .wrap__desc
                h2.heading__second РЕГИСТРАЦИЯ КОМПАНИЙ В ЕВРОПЕ

                p
                    | С развитием международных глобальных связей все больше компаний стали стремиться выйти на мировую бизнес-арену. Высокие стандарты качества, более платежеспособные клиенты, емкие рынки сбыта, надежные партнеры, стабильные экономики... Это лишь часть преимуществ, которые дает регистрация компаний в Европе. Кроме того, это престиж для самой фирмы и дополнительные возможности для организации прибыльной деятельности ввиду гибкой налоговой политики и стабильного законодательства.

                p
                    | Сотрудники «ЦКС» оказывают полный спектр услуг по регистрации компании в Европе. Мы гарантируем клиентам очевидные выгоды. Это:
                ul.list--dot
                    li 
                        | создание предпосылок для прибыльной деятельности в условиях экономической и политической стабильности; 
                    li 
                        | возможность сотрудничества с мировыми финансовыми центрами; 
                    li 
                        | минимизация предпринимательских рисков; 
                    li 
                        | защита активов и диверсификация источников доходов; 
                    li 
                        | выгодные условия кредитования; 
                    li 
                        | уход от двойного налогообложения; 
                    li 
                        | возможность в будущем получить вид на жительство в каком-либо государстве ЕС.

                h2.heading__second КАКУЮ СТРАНУ ВЫБРАТЬ

                p
                    | Компания «Прифинанс» предлагает на выбор множество стран. В любой из них мы готовы зарегистрировать вашу компанию. Швейцария — один из главных финансовых центров мира. Согласно данным некоторых источников, здесь сосредоточено около трети мирового капитала. В Швейцарии налог на прибыль составляет от 8,5%. Это страна со стабильной экономикой и развитой банковской системой. Кроме регистрации компании наши сотрудники помогут открыть счет в оффшорном банке.

                p
                    | Если зарегистрировать бизнес в Дании, но не вести на ее территории деятельность, вам не придется платить налоги. Это престижное место, не привлекающее особого внимания контролирующих органов. Многие компании размещаются в Англии. Здесь нет жестких требований к гражданству директора фирмы, нет валютного контроля, активы защищены законодательством.

                p
                    | Специалисты нашей компании порекомендуют оптимальные условия с учетом специфики бизнеса и предпочтений клиентов, решат все организационные вопросы, осуществят регистрацию за рубежом и проконсультируют по всем вопросам.