extends ../_template
 
block variables
    - var title= 'Лицензия Форекс'

block content
    section.section.company.residence.license
        .container
            h2.heading__second.text--left Брокерская лицензия Форекс
            ul.breadcrumbs 
                li.breadcrumbs__item
                    a(href="/index.html").breadcrumbs__link Главная
                li.breadcrumbs__item
                    span.breadcrumbs__link Форекс

            h2.heading__sub.text--left Выбирите страну:

            ul.list.residence__list
                li.list__item
                    a(href="./forex/forex-ceepre.html").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/greece.jpg" alt="спецпредожение").residence-item__img
                        .residence-item__desc Греция
                        .residence-item__coast лицензия и бинарные опционы
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/latvia.jpg" alt="спецпредожение").residence-item__img
                        .residence-item__desc Латвия
                        .residence-item__coast лицензия и бинарные опционы
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast лицензия

    section.section.section-text
        .container
            .wrap__desc
                p
                    | «Работа на рынке Форекс становится все более востребованной. В таких условиях растет количество компаний, предоставляющих профессиональные услуги. Чтобы на законных основаниях вести брокерскую деятельность, нужно получить лицензию. Она понадобится вне зависимости от страны, в которой будет осуществляться работа на рынке Форекс.

                p
                    | Сотрудники «Прифинанс» берут на себя организационные, правовые и бюрократические аспекты работы, связанные с получением лицензий Форекс-брокера в мировых финансовых центрах. Мы обеспечиваем комплексную поддержку, предоставляем услуги «под ключ». Это означает, что клиенту, желающему получить лицензию брокера,не придется взаимодействовать с вереницей посредников, ответственность и компетенции которых ограничены.

                p
                    | Заказывая у нас лицензии Форекс, вы:

                ul.list--dot
                    li 
                        | экономите время и средства;
                    li 
                        | сводите к нулю вероятность ошибки и выхода из правового поля;
                    li 
                        | страхуете себя от рисков;
                    li 
                        | сохраняете конфиденциальность данных;
                    li 
                        | получаете грамотные консультации, в том числе в узкоспециализированных тематиках, с которыми могли не сталкиваться штатные сотрудники;
                    li 
                        | используете действенные инструменты для увеличения прибыльности;
                    li 
                        | получаете доступ к спектру других услуг (регистрация компаний за пределами страны, открытие счетов в оффшорах, помощь в получении ВНЖ и так далее).
