extends ../_template
 
block variables
    - var title= 'Регистрация инвестиционных компаний'

block content
    section.section.company.residence.license
        .container
            h2.heading__second.text--left Регистрация инвестиционных компаний 
            ul.breadcrumbs 
                li.breadcrumbs__item
                    a(href="/index.html").breadcrumbs__link Главная
                li.breadcrumbs__item
                    span.breadcrumbs__link Инвестиционная лицензия

            h2.heading__sub.text--left Выбирите страну:

            ul.list.residence__list
                li.list__item
                    a(href="./residence-permit/residence-greec.html").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/greece.jpg" alt="спецпредожение").residence-item__img
                        .residence-item__desc Греция
                        .residence-item__coast Создание инвестиционной фирмы
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/latvia.jpg" alt="спецпредожение").residence-item__img
                        .residence-item__desc Латвия
                        .residence-item__coast Создание инвестиционной фирмы
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast Создание инвестиционной фирмы
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast Создание инвестиционной фирмы
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast Создание инвестиционной фирмы
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast Создание инвестиционной фирмы
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast Создание инвестиционной фирмы
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast Создание инвестиционной фирмы
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast Создание инвестиционной фирмы

    section.section.section-text
        .container
            .wrap__desc
                h2.heading__second РЕГИСТРАЦИЯ ПЛАТЕЖНЫХ СИСТЕМ

                p
                    | Глобальная экономика развивается за счет комплексного финансирования отраслей и отдельных видов деятельности. С этой целью создаются специальные фирмы — инвестиционные. Они аккумулируют финсредства, эмитируя ценные бумаги (ЦБ), и направляют их в акции и облигации перспективных национальных и зарубежных организаций. Регистрация инвестиционной компании по установленной законом процедуре дает право на законное осуществление таких видов деятельности:

                ul.list--dot
                    li 
                        | дилерская — покупка и/или продажа ЦБ (осуществляется за личный счет) от своего имени при условии обязательств по заключению сделки по объявленным ценам;
                    li 
                        | управление разрешенными ЦБ — процесс осуществляется непосредственно от лица компании за вознаграждение;
                    li 
                        | брокерская — купля/продажа ЦБ по договору с клиентом.

                p
                    | Кроме того, компании выполняют депозитарную профдеятельность, ведут реестры собственников именных ценных бумаг и так далее.

                h2.heading__second ВИДЫ ИНВЕСТИЦИОННЫХ КОМПАНИЙ

                p
                    | Классификация фирм ведется в зависимости от цели создания. Регистрация инвестиционной компании может предполагать создание предприятия для:

                ul.list--dot
                    li 
                        | аккумулирования имеющихся у потенциальных клиентов средств и их инвестирования в уже действующие разноплановые производства, чтобы получить прибыль;
                    li 
                        | рассредоточения имеющихся средств с целью диверсификации рисков — необходимо быть в курсе актуальной, объективной информации о текущем финансовом положении компаний, строить прогнозы развития и так далее.
                    li 
                        | Компании, которые преследуют цель концентрации капиталов и вложения их в реализацию проектов, могут создаваться в форме фондов (с дальнейшей трансформацией в АО).

                h2.heading__second ПРОЦЕСС РЕГИСТРАЦИИ

                p
                    | Для начала работы инвестиционной фирме необходимо пройти утвержденную законодательством процедуру. Она состоит из двух этапов. Это подготовка и сама регистрация инвестиционной компании (выбор гендиректора, контролера, экспертов с необходимыми аттестатами и так далее), а также прохождение процедуры лицензирования по приоритетным видам деятельности (дилерская, брокерская).

                h2.heading__second ИНВЕСТИЦИОННЫЕ ЛИЦЕНЗИИ

                p
                    | Ввиду экономической нестабильности в пределах страны россияне все чаще рассматривают внешние инвестиции как способ приумножения капитала, инструмент ведения эффективной деятельности и повышения благосостояния. Инвестиции в странах с развитой экономикой, прозрачным законодательством и политической стабильностью быстро окупаются и приносят прибыль. Вместе с тем существуют некоторые ограничения.

                p
                    | Для осуществления такой деятельности нужна инвестиционная лицензия. Условия ее получения определяются рядом фактором. Сотрудники «Прифинанс» учитывают действие каждого из них и оказывают комплексную поддержку, ориентируясь на особенности и требования клиентов. Лицензии дают право на:

                ul.list--dot
                    li 
                        | работу в статусе финансового консультанта;
                    li 
                        | получение комиссий по операциям с ценными бумагами;
                    li 
                        | аккумулирование прибыли от управления чужими активами и так далее.
                
                p   
                    | Наши эксперты помогают в получении инвестиционных лицензий, сопровождают весь процесс, освобождая вас от необходимости тратить время на организационные моменты. «Прифинанс» — авторитетный участник рынка консалтинговых и юридических услуг. Мы выполняем свою работу профессионально, в сжатые сроки, с высокой результативностью и, что очень важно, без привлечения посредников. Вам не придется отвлекаться от профильной деятельности.

                p
                    | Мы гарантируем:

                ul.list--dot
                    li 
                        | индивидуальный подход с полным вовлечением в ситуацию клиента;
                    li 
                        | оперативную реакцию на запросы;
                    li 
                        | грамотные консультации;
                    li 
                        | всестороннюю поддержку;
                    li 
                        | конкурентную стоимость услуг.