extends ../_template
 
block variables
    - var title= 'Платежные системы'

block content
    section.section.company.residence.license
        .container
            h2.heading__second.text--left Платежные системы
            ul.breadcrumbs 
                li.breadcrumbs__item
                    a(href="/index.html").breadcrumbs__link Главная
                li.breadcrumbs__item
                    span.breadcrumbs__link Платежные системы

            h2.heading__sub.text--left Выбирите страну:

            ul.list.residence__list
                li.list__item
                    a(href="./residence-permit/residence-greec.html").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/greece.jpg" alt="спецпредожение").residence-item__img
                        .residence-item__desc Греция
                        .residence-item__coast Лицензия платежной системы
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/latvia.jpg" alt="спецпредожение").residence-item__img
                        .residence-item__desc Латвия
                        .residence-item__coast Лицензия платежной системы
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast Лицензия платежной системы
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast Лицензия платежной системы
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast Лицензия платежной системы
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast Лицензия платежной системы
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast Лицензия платежной системы
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast Лицензия платежной системы
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast Лицензия платежной системы

    section.section.section-text
        .container
            .wrap__desc
                h2.heading__second РЕГИСТРАЦИЯ ПЛАТЕЖНЫХ СИСТЕМ

                p
                    | В мире существует множество юрисдикций с лояльными условиями для ведения бизнеса и приема платежей. Они гарантируют конфиденциальность, не осуществляют валютный контроль, освобождают (частично или полностью) от налогов. В таких странах выгодно вести бизнес, в частности, регистрировать платежные системы и управлять денежными потоками.

                p
                    | Помощь в прохождении всей процедуры — от выбора юрисдикции и подготовки документов до получения регистрационного свидетельства — окажут сотрудники «Прифинанс». Имея прочный теоретический базис и большой практический опыт, мы можем гарантировать результат и оперативность в решении задач любой сложности.

                p
                    | Регистрация платежной системы при поддержке «Прифинанс» пройдет быстро, на законных основаниях, с максимальной выгодой для клиента. Сотрудничество с нами обеспечит:

                ul.list--dot
                    li 
                        | экономию времени;
                    li 
                        | избавление от рутинных хлопот и бюрократических проволочек путем передачи этой работы сотрудникам «Прифинанс»;
                    li 
                        | защиту от рисков ошибок и несоблюдения законодательных норм;
                    li 
                        | помощь в решении комплекса задач, будь то регистрация платежной системы, открытие оффшорной компании или получение ВНЖ.