extends ../_template
 
block variables
    - var title= 'Вид на жительство'

block content
    section.section.company.residence
        .container
            h2.heading__second.text--left Вид на жительство 
            ul.breadcrumbs 
                li.breadcrumbs__item
                    a(href="/index.html").breadcrumbs__link Главная
                li.breadcrumbs__item
                    span.breadcrumbs__link ВНЖ

            h2.heading__sub.text--left Выбирете страну:

            ul.list.residence__list
                li.list__item
                    a(href="./residence-permit/residence-greec.html").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/greece.jpg" alt="спецпредожение").residence-item__img
                        .residence-item__desc Греция
                        .residence-item__coast от 114 000 руб
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/latvia.jpg" alt="спецпредожение").residence-item__img
                        .residence-item__desc Латвия
                        .residence-item__coast от 110 000 руб
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast от 104 000 руб
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast от 114 000 руб
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast от 114 000 руб
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast от 114 000 руб
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast от 114 000 руб
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast от 114 000 руб
                li.list__item
                    a(href="#").residence-item
                        .residence-item__img-wrap
                            img(src="/assets/img/_sec-residence/litva.jpg" alt="Литва").residence-item__img
                        .residence-item__desc Литва
                        .residence-item__coast от 114 000 руб