-
  var wedo = {
      "1" : "открытие оффшорных предприятий",
      "2" : "регистрация фирм за рубежом",
      "3" : "покупка резидентских компаний",
      "4" : "открытие оффшорных счетов в надежных заграничных банках",
      "5" : "помощь в получении лицензий для брокерских компаний, казино, платежных систем, банков",
      "6" : "оказание консалтинговых, юридических и аудиторских услуг любой сложности"
  }

section.section.whatwedo.overlay.section--white
    .heading__wrap
        h2.heading__second.text--white  
            span Спектр услуг компании 
            span «Центр Корпоративного Содействия»
        .heading__desc
            | В компетенции высококвалифицированных специалистов решение следующих задач:
    .container
        ul.list
            each desc in wedo
                li.list__item
                    i(class="fa fa-check-square-o fa--style" aria-hidden="true")
                    .wrap__desc
                        span= desc