section.section.actuality
    .container
        .heading__wrap
            h2.heading__second Почему это актуально
        .wrap__desc
            p 
                | Иметь зарубежное представительство престижно. Это объясняет популярность, которую приобретает сегодня оффшор. Зачастую с фирмой, зарегистрированной в Гонконге (одном из главных финансовых центров мира) или на Сейшельских островах (с лояльными условиями налогообложения) иностранные партнеры будут работать охотнее, чем с отечественной компанией. Кроме того, грамотно подобрав оффшор, можно не только снизить налоговое бремя, но и получить доступ к банковской системе развитой страны. Здесь, в условиях экономической и политической стабильности, гораздо легче сохранить и приумножить капитал.
            p
                | Оффшоры — объект повышенного интереса. Как правило, процедура регистрации в них проста, но требует знаний и времени, чем не всегда располагает владелец бизнеса. Необходимо выбрать оптимальный оффшор, изучить законодательство, учесть все нюансы. Можно с головой погрузиться в этот процесс или позаботиться о своем времени, доверив все хлопоты сотрудникам «Прифинанс». Во втором случае удастся сосредоточится на профильной деятельности, что позитивно скажется на финансовом результате.
            p
                | Для бизнесменов, рассматривающих оффшоры как обязательный шаг на пути к успеху, такая возможность сулит массу выгод:

            p
                span минимальную вовлеченность в процесс;
                span оффшор «под ключ» со сбором бумаг, консультациями, сопровождением экспертами «Прифинанс» на всех span стадиях;
                span сведение к нулю вероятности ошибок;
                span экономию времени;
                span сохранение анонимности;
                span широкий спектр сопутствующих услуг и так далее.
                span Оффшоры подходят для всех видов деятельности, которые не признаны незаконными. Некоторые из них нуждаются в span дополнительном лицензировании (страхование, банковская деятельность). Выгоднее всего размещать в лояльных span юрисдикциях компании, деятельность которых связана с:
            p
                span экспортно-импортными операциями;
                span международной торговлей;
                span банковским делом;
                span авиабизнесом;
                span крюингом;
                span IT и так далее.