-
  var webest = {
      'Экономия средстви времени заказчика' : 'tachometer',
      'Защита от рисков' : 'shield',
      'Поиск путей повышения показателей эффективности (прибыли)' : 'line-chart',
      'Компетенции узкопрофильных специалистов' : 'black-tie',
      'Полная конфиденциальность' : 'key'
  }

section.section.section--white.webest.overlay
    .container
        h2.heading__second.text--white Выгоды сотрудничества с «ЦСК»
        .wrapper
            p.text__descr
              | В работе с клиентами мы используем индивидуальный подход, разрабатываем схемы и варианты ведения бизнеса с учетом специфики деятельности клиента. «ЦСК» — самостоятельная структура, которая, в отличие от посредников, оказывает весь комплекс услуг, предоставляет гарантии профессиональной работы и оперативно реагирует на запросы. Как результат:
    .container-grid
        ul.list
            each name, text in webest
                li.list__item
                    .icon__wrap
                        i(class=`fa fa-${name}` aria-hidden="true")
                    span.whywe__item-desc= text
    .container
        .wrapper
            p.text--left
              | Изучая различные компании по регистрации фирм и их предложения, вы едва ли сталкивались с подобным перечнем возможностей и преимуществ. Мы регистрируем фирмы в оншоре и оффшоре, работаем с любой исходной информацией, сопровождаем бизнес в условиях зарубежного, не знакомого вам законодательства, создаем прочный базис для процветания и повышения уровня благосостояния. Избавьте себя от множества организационных нюансов, изучения непрофильной информации, непредвиденных угроз и рисков — доверьтесь экспертам «Прифинанс»
            