section.header__bottom
        .container
            .header__action-wrap
                .slider__wrap.slider-obshor__wrap
                    //- .slider-arrow.slider-arrow__next
                    //-     +icon('slider-arrow')
                    //- .slider-arrow.slider-arrow__prev
                    //-     +icon('slider-arrow')
                    .index-slider  
                        div.index.slide
                            .action
                                h2.action__date Акция до 31 августа
                                span.action__bonus При покупке компании банковский счет в подарок
                                .btn__wrap
                                    a.btn.btn--action(href="#popup-order").btn-popup-order Оставить заявку 
                            .header__video-wrap
                                    video.video.video--header
                                        source(src="movie.mp4" type='video/mp4; codecs="avc1.42E01E"')
                                        source(src="movie.webm" type='video/webm; codecs="vp8, vorbis"')
                        div.index.slide
                            .action
                                h2.action__date Акция до 31 августа
                                span.action__bonus При покупке компании банковский счет в подарок
                                .btn__wrap
                                    a.btn.btn--action(href="#popup-order").btn-popup-order Оставить заявку 
                            .header__video-wrap
                                    video.video.video--header
                                        source(src="movie.mp4" type='video/mp4; codecs="avc1.42E01E"')
                                        source(src="movie.webm" type='video/webm; codecs="vp8, vorbis"')
            h2.heading__second 
                | Оффшоры – Лучшие предложения по регистрации компаний
